BASE_URL=https://app.workflowpro.com

USERNAME=admin@company1.com
PASSWORD=password123

API_TOKEN=

TENANT_ID=company1

BROWSER=chromium

HEADLESS=True

BROWSERSTACK_USERNAME=

BROWSERSTACK_ACCESS_KEY=
